PREFIX=√
SESSION_ID=Gifted~vvYXUS4Y#DRFdCoEtNPDi-13cRrO_YTt-7cl0R1tGu0GIKDQCaZ4
BOT_NAME=𝐆𝐈𝐅𝐓𝐄𝐃-𝐌𝐃
BOT_PIC=https://files.giftedtech.my.id/file/gifted-md.jpg
AUTO_READ_STATUS=true
AUTOLIKE_STATUS=true
AUTOLIKE_EMOJI=💜
AUTO_REPLY_STATUS=false
STATUS_REPLY_MSG=✅️ Status Viewed by Gifted-Md!
ANTICALL=false
ANTICALL_MSG=*_📞 Auto Call Reject Mode Activated by Gifted-Md. 📵 No Calls Allowed Dude!_*
MODE=public
WELCOME=false
GOODBYE=false
AUTO_READ_MESSAGES=false
PRESENCE=online
OWNER_NAME=𝐆𝐈𝐅𝐓𝐄𝐃 𝐓𝐄𝐂𝐇
OWNER_NUMBER=2349068486092
SUDO_NUMBERS=
AUTO_AUDIO=false
AUTO_BLOCK=false
AUTO_REACT=true
TIME_ZONE=Africa/Lagos
